/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Jost', sans-serif;
}

.title {
    text-align: center;
}

.title h6 {
    text-transform: uppercase;
    color: #f53626;
    font-weight: 400;
    font-size: 18px;

}

.title h3 {
    font-weight: 700;
}

/* ADVERTISEMENT */
.video-img {
    border-radius: 10px;
}

.video-icon {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    display: inline-block;
} 

#small-dialog {
    max-width: 750px;
    margin: 40px auto;
    position: relative;
  }
  div#small-dialog iframe {
    width: 100%;
    height: 420px;
    display: block;
    border-radius: 10px;
  }
  .mfp-close-btn-in .mfp-close {
    color: #fff;
  }
  .mfp-close,
  .mfp-close:active {
    top: -40px;
  }
  
  /**
     * Fade-zoom animation for first dialog
     */
  /* start state */
  .my-mfp-zoom-in .zoom-anim-dialog {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
  }
  
  /* animate in */
  .my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    transform: scale(1);
  }
  
  /* animate out */
  .my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    transform: scale(0.8);
    opacity: 0;
  }
  
  /* Dark overlay, start state */
  .my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  
  /* animate in */
  .my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.95;
  }
  
  /* animate out */
  .my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
  }

  /* TESTIMONIALS */
  .testimonial {
    background-color: rgba(147, 107, 232, 0.05);
    text-align: left;
  }

  .testimonial__detail {
    display: block;
    padding: 40px 30px;
    background-color: white;
    border: none;
    box-shadow: 0 25px 98px 0 rgba(19, 19, 19, 0.03);
    border-radius: 10px;
  }

  .testimonial blockquote {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    position: relative;
    margin-bottom: 1.5em;
  }

  .testimonial q::before {
    font-size: 50px;
    color: #189A46;
    line-height: .8;
    font-weight: 600;
    display: inline-block;
  }

  .happyClient {
    display: flex;
    text-align: center;
  }

  .clientImage img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
  }

  .clientInfo {
    margin: 0;
    margin-left: 20px;
    text-align: left;
  }

  .clientInfo h3 {
    font-weight: 600;
    font-size: 20px;
  }

  .clientInfo p {
    color: #777;
    font-size: 17px;
    font-size: normal;
    margin-top: 0;
    text-align: left;
    opacity: 0.8;
  }

  
/* UPDATED */
.subscribeField {
  display: flex;
  justify-content: space-between;
}

.subscribeBtn {
    padding: 12px 35px;
    font-size: 18px;
    height: 60px;
    line-height: 28px;
    font-weight: 400;
    border-radius: 10px;
    background-color: #189A46;
    flex-basis: auto;
}

.subscribeInput {
    font-size: 16px;
    border-radius: 10px;
    padding: 0 20px;
    flex-basis: auto;
    height: 60px;


}

/* FOOTER */
footer {
    background-color: black;
}

footer li {
    font-size: 16px;
    line-height: 28px;
    color: #696969;
    list-style: none;
}

footer li a {
    text-decoration: none;
    color: #696969;
}

footer li a:hover {
    text-decoration: underline;
    color: #fff;
}

.footer__title {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
    line-height: 26px;
}

.fb,
.twitter,
.dribbble,
.google {
    display: inline;
    margin: 5px;
    font-size: 16px;
}

.socialIcon li a:hover {
    text-decoration: none;
}

.copyright {
    color: #696969;
    font-size: 16px;
    line-height: 28px;
    font-weight: normal;
}

/* BACK TO TOP */
.backToTop {
    height: 50px;
    width: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    background-color: #189A46;
    border-radius: 50%;
    color: white;
    transition: all .2s;
    font-size: 16px;
    visibility: hidden;
    opacity: 0;

    position: fixed;
    right: 15px;
    bottom: 60px;
    z-index: 99;
}

.cd-top--is-visible {
    /* back-to-top button visible */
    opacity: 1;
    visibility: visible;
}
